/* src/index.css */

@font-face {
  font-family: 'MaterialIcons';
  src: url('./assets/fonts/MaterialIcons-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'CupertinoIcons';
  src: url('./assets/fonts/CupertinoIcons.ttf') format('truetype');
}

/* Sisa dari file index.css */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}