/* src/index.css */
/* body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8fafc; /* Warna latar dasar yang netral */
/* }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */ 