/* src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@font-face {
  font-family: 'MaterialIcons';
  src: url('./assets/fonts/MaterialIcons-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'CupertinoIcons';
  src: url('./assets/fonts/CupertinoIcons.ttf') format('truetype');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}